.container{
    height: 110px;
    width: 300px;
    background-color: bisque;
    border: 1px solid black;
}
.box{
    width: 30px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
}
#box1{
    background-color: red;
    float: right;
}
#box2{
    background-color: blue;
    float: left;
}