*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 5px;
}
nav a{
    text-decoration: none;
    margin-left: 55px;
    padding: 5px;
}
header{
    background-color:rgb(103, 233, 233);
    height: 30px;
}
#second{
    height: 50px;
    width: 50px;
    background-color:darkseagreen;
    border-radius: 50%;
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(233, 166, 239);
    margin: 5px;
    display: inline-block;
}
#container{
    border: 3px solid;
    margin: 5px;
}
#box4{
    position:fixed;
    right : 10px;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: rgb(215, 233, 160);
}